* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

@media screen and (min-width: 768px) {

    .alert-info {
        width: 90%;
        height: 8vh;
        background-color: lightblue;
        margin: 2% auto;
        color: black;
        font-size: 3em;
        border: 3px solid lightgray;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alert-info a {
        color: black;
    }

    a {
        text-decoration: none;


    }

    li a {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 2% auto;
        font-size: 2em;
        align-content: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: auto;

    }

    li {
        display: inline-block;
        height: 50px;
        width: 100%;
        margin: 1em auto;
        background-color: lightgrey;
        /*justify-content: center;
        /*align-items: center;
    }
}